@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
}

.help {
  margin: 0px 20%;
  display: flex;
  margin-top: -3%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.help-head {
  font-size: 50px;
  margin-top: 6%;
}

.help-desc {
  font-size: 17px;
  text-align: center;
  margin-top: 0%;
}

.help-map {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
  height: 300px;
  background-color: rgb(85, 176, 255);
}
