@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.news-main {
  font-family: "Montserrat";
  font-style: normal;
}
.news-head {
  text-align: center;
  margin-top: 2%;
}
.news-head > h3 {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
}

.news-head > p {
  margin-top: -10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
}
