@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
}
/* NAVBAR CSS */
.App {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat";
}

.navbar {
  background: aliceblue;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 7%;
  font-size: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bolder;
}
.logo-blue {
  color: blue;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.links {
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

/* HELP CSS*/

.help {
  margin: 0px 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.help-head {
  font-size: 3.5rem;
  margin-top: 6%;
}

.help-desc {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2%;
}

.help-map {
  height: 50%;
}

.help-btn {
  background-color: aliceblue;
  border: 1px solid black;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 0.5% 1%;
  cursor: pointer;
}

/* REPORT CSS*/

.report {
  margin: 0px 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.report-head {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  margin-top: 4%;
}

.report-desc {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -2%;
  margin-bottom: 2%;
  font-family: "Montserrat";
}

.report-form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5%;
  font-family: "Montserrat";
}

.form-field {
  width: 100%;
}

input,
select,
textarea {
  width: 100%;
  font-family: "Montserrat";
}

.chkbox-input {
  width: auto;
  margin: 5px;
}

.report-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-msg {
  font-size: 1rem;
  padding: 0.5% 1%;
}

.report-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 3%;
  margin-bottom: -6%;
}

.report-msg {
  font-size: 1.2rem;
  margin-top: -2%;
  margin-bottom: 2%;
}

/* LIBRARY CSS*/

.library {
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lib-head {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  margin-top: 4%;
}

.lib-desc {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -2%;
  margin-bottom: 4%;
}

.lib-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: 5em;
  /* @media (max-width: 50em) {
        padding-inline: 2em;
        gap: 2em;
    } */
}
