@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.webscan {
  margin: 0px 20%;
  display: flex;
  margin-top: -2%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.webscan-head {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;

  margin-top: 15%;
}
.webscan-desc {
  font-size: 17px;
  text-align: center;
  margin-top: -2%;
}

.webscan-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4%;
  width: 70%;
}

.webscan-field{
  border-color: black !important;
  border-radius: 20px !important;
  box-shadow: 3px 3px 8px grey !important;
  width: 100%;  
}

.webscan-field:focus{
  border-color: black !important;
}

.submit-Btn{
  width: 20%;
  margin: 0;
  padding: 0 0 !important;
  border-radius: 20px !important;
}