@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.webscan {
  margin: 0px 20%;
  display: flex;
  margin-top: -2%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.webscan-head {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;

  margin-top: 15%;
}
.webscan-desc {
  font-size: 17px;
  text-align: center;
  margin-top: -3%;
}
